[submodule "vendor/SocketRocket"]
	path = vendor/SocketRocket
	url = git@github.com:redpeppix-gmbh-co-kg/SocketRocket.git
[submodule "pages"]
	path = pages
	url = git@github.com:mrackwitz/SocketClient.git
